@model IEnumerable<FurryFeast.Models.Member>

@{
    ViewData["Title"] = "Index";
}

@section Style{
    <style>

    </style>
}
<h1>個人資料</h1>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div>
                <a asp-action="">個人資料</a>
            </div>
            <div>
                <a asp-action="">我的訂單</a>
            </div>
            <div>
                <a asp-action="">我的課程</a>
            </div>
            <div>
                <a asp-action="">我的優惠券</a>
            </div>
        </div>
        <div class="col-8">
            <div>
                <span>
                    @Html.DisplayNameFor(model => model.MemberName):
                </span>
                <span>
                    @foreach(var item in Model)
                    {
                        @Html.DisplayFor(modelItem => item.MemberName)
                    }
                </span>
            </div>
            <div>
                <span>
                    @Html.DisplayNameFor(model =>model.MemberGender):
                </span>
                <span>
                    @foreach(var item in Model)
                    {
                        @Html.DisplayFor(modelItem => item.MemberGender)
                    }
                </span>  
            </div>
            <div>
                <span>
                    @Html.DisplayNameFor(model => model.MemberBirthday):
                </span>
                <span>
                    @foreach(var item in Model)
                    {
                        @Html.DisplayFor(modelItem => item.MemberGender)
                    }
                </span>
            </div>
            <div>
                <span>
                    @Html.DisplayNameFor(model =>model.MemberPhone):
                </span>
                <span>
                    @foreach(var item in Model)
                    {
                        @Html.DisplayFor(modelItem => item.MemberPhone)
                    }
                </span>
            </div>
            <div>
                <span>
                    @Html.DisplayNameFor(model=>model.MemberEmail):
                </span>
                <span>
                    @foreach(var item in Model)
                    {
                        @Html.DisplayFor(modelItem=>item.MemberEmail)
                    }
                </span>
            </div>
            <div>
                <span>
                    @Html.DisplayNameFor(model=>model.MemberAdress):
                </span>
                <span>
                    @foreach(var item in Model)
                    {
                        @Html.DisplayFor(modelItem=>item.MemberAdress)
                    }
                </span>
            </div>
            <div>

                <a asp-action="" type="bottom">修改資料及密碼</a>
            </div>
        </div>

    </div>
</div>

