@model IEnumerable<FurryFeast.Models.Member>

@{
    ViewData["Title"] = "Index";
}

@section Style{
    <style>

    </style>
}
<h3>個人資料</h3>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <div>
                <a asp-action="Index">個人資料</a>
            </div>
            <div>
                <a asp-action="MyOrder">我的訂單</a>
            </div>
            <div>
                <a asp-action="MyClass">我的課程</a>
            </div>
            <div>
                <a asp-action="MyConpon">我的優惠券</a>
            </div>
        </div>
        <div class="col-5 ">
            <div>
                <span>
                    @Html.DisplayNameFor(model => model.MemberName):
                </span>

            </div>
            <div>
                <span>
                    @Html.DisplayNameFor(model =>model.MemberGender):
                </span>
            </div>
            <div>
                <span>
                    @Html.DisplayNameFor(model => model.MemberBirthday):
                </span>
                
            </div>
            <div>
                <span>
                    @Html.DisplayNameFor(model =>model.MemberPhone):
                </span>
                
            </div>
            <div>
                <span>
                    @Html.DisplayNameFor(model=>model.MemberEmail):
                </span>
               
            </div>
            <div>
                <span>
                    @Html.DisplayNameFor(model=>model.MemberAdress):
                </span>
                
            </div>
            <div>
                <a asp-action="UpdateMemberData">修改資料及密碼</a>
            </div>

        </div>

    </div>
</div>

