@*@model IEnumerable<FurryFeast.Models.Member>*@
@model FurryFeast.Models.Member

@{
    ViewData["Title"] = "Index";
}

<div class="index-header">
<h2>會員資訊</h2>
</div>
<hr />
<!-- RD Mailform-->
<form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
    <table class="table-secondary">
        <tr>
            <th>姓名</th>
            <th>@Model.MemberName</th>
        </tr>
        <tr>
            <td>生日</td>
            <td>@Model.MemberBirthday</td>
        </tr>
        <tr>
            <td>性別</td>
            <td id="gender"></td>
        </tr>
        <tr>
            <td>手機號碼</td>
            <td>@Model.MemberPhone</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Model.MemberEmail</td>
        </tr>
        <tr>
            <td>地址</td>
            <td>@Model.MemberAdress</td>
        </tr>
    </table>
    
</form>
<div>
    <form asp-controller="Member" asp-action="UpdateMemberData">
        <button class="button button-lg button-primary button-zakaria">修改資料及密碼</button>
    </form>
</div>

 

@section Scripts{
    <script>
        document.getElementById("gender").textContent = (@Model.MemberGender == 0)? "女":"男"
    </script>
}
@*@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script>
        var MemberData = new Vue({
            el:"#Member",
            data:{
                memberdata:[],
            },
            mounted:function(){
                let self = this;
                axious('/api/Member/member').then(res=> self.memberdata =res.data)
            }

        })
    </script>
}*@

    
