@*@model IEnumerable<FurryFeast.Models.Member>*@
@model FurryFeast.Models.Member

@{
    ViewData["Title"] = "Index";
}

<div class="index-header">
<h2>會員資訊</h2>
</div>
<hr />
<!-- RD Mailform-->
<form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
    <div class="form-wrap">
        <span>姓名</span>
        <span>@Model.MemberName</span>
    </div>
    <div>
        <label>生日</label>
        <span>@Model.MemberBirthday</span>
    </div>
    <div>
        <label>性別</label>
        <span id="gender"></span>
    </div>
    <div>
        <label>手機號碼</label>
        <span>@Model.MemberPhone</span>
    </div>
    <div>
        <label>Email</label>
        <span>@Model.MemberEmail</span>
    </div>
    <div>
        <label>地址</label>
        <span>@Model.MemberAdress</span>
    </div>
</form>
<div>
    <form asp-controller="Member" asp-action="UpdateMemberData">
        <button class="button button-lg button-primary button-zakaria">修改資料及密碼</button>
    </form>
</div>

 

@section Scripts{
    <script>
        document.getElementById("gender").textContent = (@Model.MemberGender == 0)? "女":"男"
    </script>
}
@*@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script>
        var MemberData = new Vue({
            el:"#Member",
            data:{
                memberdata:[],
            },
            mounted:function(){
                let self = this;
                axious('/api/Member/member').then(res=> self.memberdata =res.data)
            }

        })
    </script>
}*@

    
