@*@model IEnumerable<FurryFeast.Models.Member>*@
@model Member

@{
	ViewData["Title"] = "Index";
}

<style>

	.memberTitle {
		font-size: medium;
		font-weight: bold;
		padding: 15px 20px 15px 30px;
	}

	.memberText {
		font-size: medium;
		padding: 10px;
		position: relative;
	}

	.memberText:before {
		border-bottom: 1px dashed #ccc;
		content: "";
		left: 0;
		padding: 20px;
		position: absolute;
		width: 80%;
		z-index: 1;
	}
</style>

<div class="index-header">
	<h2>會員資訊</h2>
</div>
<!-- RD Mailform-->
@*@{
	var gender = "";
	var Add = "";
	if (Model.MemberAdress == null )
	{
		Add = "尚未填寫";
	}
	else
	{
		Add = Model.MemberAdress;
		if (Model.MemberGender == 0)
		{
			gender = "男";
		}
		else
		{
			gender = "女";
		}
	}

}*@

<form class="py-5 mb-4 row mx-auto" style="border: 2px solid #ffd33b; border-radius: 6px; width: 50%;" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
	<table class="" style="position: relative;">
		<tr>
			<td class="text-end">
				<p class="memberTitle">姓名</p>
			</td>
			<td class="text-start">
				<p class="memberText">@Model.MemberName</p>
			</td>
		</tr>
		<tr>
			<td class=" text-end">
				<p class="memberTitle">生日</p>
			</td>
			<td class="text-start">
				<p id="birthday" class="memberText">@Model.MemberBirthday</p>
			</td>
		</tr>
		<tr>
			<td class="text-end">
				<p class="memberTitle">性別</p>
			</td>
			<td class="text-start">
				<p id="gender" class="memberText">@Model.MemberGender</p>
			</td>
		</tr>
		<tr>
			<td class="text-end">
				<p class="memberTitle">手機號碼</p>
			</td>
			<td class="text-start">
				<p class="memberText">@Model.MemberPhone</p>
			</td>
		</tr>
		<tr>
			<td class=" text-end">
				<p class="memberTitle" >Email</p>
			</td>
			<td class=" text-start">
				<p class="memberText" id="mail">@Model.MemberEmail</p>
			</td>
		</tr>
		<tr>
			<td class="text-end">
				<p class="memberTitle">地址</p>
			</td>
			<td class="text-start">
				<p class="memberText" id="adress" >@Model.MemberAdress</p>
			</td>
		</tr>
	</table>
</form>
<a asp-controller="Member" asp-action="UpdateMemberData" class="m-0 button button-lg button-primary button-zakaria">編輯與變更密碼</a>


@section Scripts{

	<script>
		var gender = "@Model.MemberGender";
		var adress = "@Model.MemberAdress";
		document.getElementById("gender").textContent = (gender == 0) ? "女" : "男";
		if (adress == "") { document.getElementById("adress").textContent = "尚未填寫"; }
		

	</script>
}