@*@model IEnumerable<FurryFeast.Models.Member>*@
@model FurryFeast.Models.Member

@{
    ViewData["Title"] = "Index";
}

<style>
    .memberTitle {
	    padding: 10px;
	    font-size: medium;
	    font-weight: bold;
    }

    .memberText {
	    padding: 10px; font-size: medium;
	    border-bottom: 1px dashed #ccc;
	    width: 70%;
    }
</style>

<div class="index-header">
	<h2>會員資訊</h2>
</div>
<!-- RD Mailform-->
<form class="col-5 row mx-auto py-5 mb-4" style="border: 1px solid #ccc; border-radius: 6px;" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
	<div class="col-4 text-end">
        <p class="memberTitle">姓名</p>
        <p class="memberTitle">生日</p>
        <p class="memberTitle">性別</p>
        <p class="memberTitle">手機號碼</p>
        <p class="memberTitle" style="font-weight: 400;">Email</p>
        <p class="memberTitle">地址</p>
	</div>
    <div class="col text-start">
        <p class="memberText">@Model.MemberName</p>
        <p class="memberText">@Model.MemberBirthday</p>
        <p id="gender" class="memberText"></p>
	    <p class="memberText">@Model.MemberPhone</p>
        <p class="memberText" id="mail"></p>
        <p class="memberText">@Model.MemberAdress</p>
	</div>
</form>
<div>
    <form asp-controller="Member" asp-action="UpdateMemberData">
        <button class="button button-lg button-primary button-zakaria">修改資料及密碼</button>
    </form>
</div>

 

@section Scripts{
    <script>
	    document.getElementById("gender").textContent = (@Model.MemberGender == 0) ? "女" : "男";

        let MemberEmail = "";
	    let MemberAdd = "";

        function checkEmail(item) {
	        if (MemberEmail !== "") {
		        MemberEmail = item;
		        console.log(MemberEmail);
	        } else {
		        MemberEmail = 尚未填寫;
		        console.log(MemberEmail);
	        }
        };
        
	    function checkAdd(item) {
            if (MemberAdd !== "") {
	            MemberAdd = item;
                console.log(MemberAdd);
		    } else {
	            MemberAdd = 尚未填寫;
                console.log(MemberAdd);
		    }
	    };

	    checkAdd();
        checkEmail(@Model.MemberEmail);
        $('#mail').append(MemberEmail);
    </script>
}
@*@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script>
        var MemberData = new Vue({
            el:"#Member",
            data:{
                memberdata:[],
            },
            mounted:function(){
                let self = this;
                axious('/api/Member/member').then(res=> self.memberdata =res.data)
            }

        })
    </script>
}*@

    
