@model FurryFeast.Models.Conpon

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Conpon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConponContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConponContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConponName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConponName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConponDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConponDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConponStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConponStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConponEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConponEndTime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ConponId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
