@model FurryFeast.Models.Conpon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Conpon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConponContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConponContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConponName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConponName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConponDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConponDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConponStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConponStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConponEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConponEndTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ConponId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
