@{
	ViewData["Title"] = "Index";
}
@section Style{
	<link href="~/css/petclass/bootstrap.min.css" rel="stylesheet" />
	<link href="~/css/petclass/fonts.min.css" rel="stylesheet" />
	<link href="~/css/petclass/style.css" rel="stylesheet" />

	<style>
		a {
			color: black;
		}

		.product {
			box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
			border-radius: 6px;
			border: solid 2px;
			border-color: antiquewhite;
		}

		.slick-dots {
			position: absolute;
			bottom: 15px;
		}

		.form-input {
			display: inline;
			width: 80%;
		}

		.product-figure {
			min-height: 100px;
		}

		/*.tabs-jean * + .nav-tabs-wrap {
			margin-top: 35px;
		}*/
		.about{
			max-width:1050px;
		}

		.nav-tabs-wrap{
			height:130px;
		}

		.donate-txt{
			margin-top:20px;
		}
		/*.nav-link{
			font-size:16px;
		}*/
		.donate-product{
			background-color: #ffd33b;
			height:100px;
			border-radius:6px;
			
		}

		.donate-product h2{
			padding-top:20px;
		}
	</style>
}


<div class="container" id="app">
	<div class="container about">
		<div class="index-header">
			<h2>關於。浪浪捐贈</h2>
		</div>
		<div class="row row-30 row-lg justify-content-center">
			<div class="col-sm-8 col-md-7 col-lg-6 wow fadeInLeft">
				<img src="~/image/product/grid-gallery-3-1200x800-original2.jpg" />
				<div class="donate-txt">
					<h4>- 捐贈糧食，FurryFeast同浪浪感激您 -</h4>
				</div>
				
			</div>
			<div class="col-md-10 col-lg-6 wow fadeInRight">
				<!-- Bootstrap tabs-->
				<div class="tabs-custom tabs-jean" id="tabs-1">
					<!-- Tab panes-->
					<div class="tab-content">
						<div class="tab-pane fade show active" id="tabs-1-1">
							<div class="box-info-creative">
								<h4 class="box-info-creative-title">糧食的力量，為流浪動物帶來希望！FurryFeast致力為無家可歸的毛孩們帶來美味和溫暖!</h4>
								<div class="box-info-creative-text">讓我們攜手，給予這些無辜生命一個飽腹和愛的滋養。請捐贈一份糧食，讓他們感受到人間的溫情與關懷。一份小小的善舉，將為他們帶來無盡的感激和喜悅！</div>
							</div>
						</div>
						<div class="tab-pane fade" id="tabs-1-2">
							<div class="box-info-creative">
								<h4 class="box-info-creative-title">當我們走在街上，偶遇浪浪，你是否曾感到無奈？現在，您可以用一份善心改變他們的命運！</h4>
								<div class="box-info-creative-text">您購買的糧食將成為他們的力量，幫助他們克服飢餓和艱難，讓他們感受到飽腹和溫暖的感覺，以及世界上還有人願意為他們付出關懷和愛心！</div>
							</div>
						</div>
						<div class="tab-pane fade" id="tabs-1-3">
							<div class="box-info-creative">
								<h4 class="box-info-creative-title">期待您的參與，與我們一同為流浪動物帶來希望，並享受會員專屬福利以及獨特專屬優惠！</h4>
								<div class="box-info-creative-text">當您在我們的店面購買糧食，不僅能夠提供食物給需要幫助的浪浪，還能累積寶貴的會員點數。每一次購買都是一次善舉，一起攜手為浪浪的生命帶來溫暖和愛！</div>
							</div>
						</div>
					</div>
					<!-- Nav tabs-->
					<div class="nav-tabs-wrap">
						<ul class="nav nav-tabs">
							<li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-1-1" data-bs-toggle="tab">理 念</a></li>
							<li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-2" data-bs-toggle="tab">做 法</a></li>
							<li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-3" data-bs-toggle="tab">回 饋</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="index-header donate-product">
			<h2>捐贈商品</h2>
		</div>
	</div>
	<div class="row row-50">
		



		<div class="col col-12">
			<div class="row row-30 row-md-50 row-lg-60">
				<div class="col-12">
					<div class="row">
						<!-- 搜尋列-->
						<div class="col col-6">
							<form>
								@*<h6 class="aside-title">搜尋商品</h6>*@
								<div class="form-wrap">
									@*<label class="form-label" for="searchForm">搜尋商品 ...</label>*@

									<input class="form-input" type="text" autocomplete="on" style="width:contain" v-model="filterObj.keyword" placeholder="搜尋商品..." @@keyup="productFilter">
									@*<button class="btn btn-dark" type="submit"><i class="bi bi-search"></i></button>*@
								</div>
							</form>
						</div>
						<!--排序功能-->
						<div class="col col-6 box-info-modern-title">
							<button class="btn btn-dark" v-on:click="sortBy('time')">上架時間</button> |
							<button class="btn btn-dark" v-on:click="sortBy('price')">價格高低</button> |
							@*<button class="btn btn-dark" v-on:click="ProductType('food')">主食零食</button> |
							<button class="btn btn-dark" v-on:click="ProductType('life')">生活用品</button> |*@
							<a>熱門排名</a>
							@*待補連結*@
						</div>

					</div>
					<!-- 商品-->
					<div class="row">


						<div class="col col-2 " v-for="item in ShowPageCount" :key="item.product.productId">
							<article class="product" style="margin-bottom:30px">
								<div class="product-body">
									<div class="product-figure">
										@*<partial name="_ShowPictruePartial" model="@item"></partial>*@

										<img :src="'data:image/png;base64,'+item.pics" alt="" width="200" height="200" />
									</div>
									<h5 class="product-title"><a :href="'/Products/ProductDetailNew?id=' + item.product.productId">{{item.product.productName}}</a></h5>
									<div class="product-price-wrap">
										@*<div class="product-price product-price-old">$@item.ProductPrice</div>*@
										<div class="product-price">${{item.product.productPrice}}</div>
									</div>
								</div>
								@*<span class="product-badge product-badge-sale">Sale</span>*@
								<div class="product-button-wrap">
									<div class="product-button"><a :href="'/Products/ProductDetailNew?id=' + item.product.productId" class="button button-secondary button-zakaria fl-bigmug-line-search74"></a></div>
									<div class="product-button"><a class="button button-secondary button-zakaria fl-bigmug-line-shopping202" v-on:click="AddCart(item.product.productId)"></a></div>
								</div>
							</article>
						</div>


					</div>
				</div>
				<div class="row justify-content-center">
					<paginate :page-count="PageCount"
							  :click-handler="ChangePage"
							  :prev-text="'Prev'"
							  :next-text="'Next'"
							  :page-class="'page-item'"
							  :page-link-class="'page-link'"
							  :prev-class="'page-item'"
							  :prev-link-class="'page-link'"
							  :next-class="'page-item'"
							  :next-link-class="'page-link'"
							  :container-class="'pagination justify-content-center'">
					</paginate>
				</div>
			</div>
		</div>
	</div>
</div>

<div style="height:auto;">
	@*Page @(Model.PageCount<Model.PageNumber?0:Model.PageNumber) of @Model.PageCount
	@Html.PagedListPager(Model,page=>Url.Action("Index",new{page,sortProducts=ViewBag.CurrentSort}))*@
	@*<h6>
	@Html.PagedListPager(Model,page=>Url.Action("Index",new{page}))
	</h6>*@
</div>


@section Scripts{
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	
	<script src="~/js/product/core.min.js"></script>
	<script src="~/js/product/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js" integrity="sha512-efUTj3HdSPwWJ9gjfGR71X9cvsrthIA78/Fvd/IN+fttQVy7XWkOAXb295j8B3cmm/kFKVxjiNYzKw9IQJHIuQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>	<script src="https://unpkg.com/vuejs-paginate@0.9.0"></script>

	<script>
		Vue.component('paginate', VuejsPaginate);
		let app = new Vue({
			el: '#app',
			data: {
				products: [],
				showProducts: [],
				maxCount: 6,
				Page: 1,
				filterObj: {
					name: "",
					keyword: "",
				},

			},
			mounted: function () {
				let _this = this;
				_this.AllProducts();

				//_this.imageData=res.pics
			},
			methods: {
				//網頁載入就會掛載全部商品資料的方法
				AllProducts: function () {
					let _this = this;
					//var request={};
					//request.productName=_this.keyword;
					axios.get(`/api/products/DonateProducts`).then(response => {
						_this.products = _this.showProducts = response.data;

					});
				},
				AddCart: function (ID) {
					
					axios.post(`/Cart/CartAdd`, { Id: ID, amount: 1 })
						.then(
							function(response){	
								
								let data=response.data;
								console.log(data);
								$.notify("成功加入購物車", "success");
								if(data != ""){
									
									Swal.fire({
									  title: '請先登入',
									  text: "請先登入再加入購物車!",
									  icon: 'warning',
									  showCancelButton: true,
									  confirmButtonColor: '#3085d6',
									  cancelButtonColor: '#d33',
									  confirmButtonText: '登入',
									  cancelButtonText:'取消'
									}).then((result) => {
									  if (result.isConfirmed) {
										//window.location.assign(data);
										console.log(data);
										window.location.href = data+'?marketID=3';
									  }
									});
								
								}

							}
						);
					//axios({
					//	method:'post',
					//	url: '/Cart/CartAdd',
					//	data: { Id: ID, amount: 1 }
					//}).then(function(res){
					//	console.log(res)
						
					//}).catch(function(error){
					//	console.log(error)
					//});
				},
				productFilter: function () {
					//依照搜尋欄位篩選商品
					var _this = this;

					_this.showProducts = [];
					for (var i = 0; i < _this.products.length; i++) {
						var item = _this.products[i];
						if (item.product.productName.includes(_this.filterObj.keyword)) {
							_this.showProducts.push(item);
						}
					}

				},
				sortBy: function (val) {
					let _this = this;
					//依照時間排序
					if (val == 'time') {
						return _this.showProducts.sort((a, b) => new Date(a.product.productLauchedTime) - new Date(b.product.productLauchedTime));
					}
					//依照價格排序
					if (val == 'price') {
						return _this.showProducts.sort((a, b) => a.product.productPrice - b.product.productPrice);
					}
				},
				ChangePage: function (currentPage) {
					let _this = this;
					_this.Page = currentPage;
				},

			},
			computed: {
				
				PageCount: function () {
					let _this = this;
					return Math.ceil(_this.showProducts.length / _this.maxCount);
				},
				ShowPageCount: function () {
					let _this = this;
					let start = (_this.Page - 1) * _this.maxCount;
					let end = _this.Page * _this.maxCount;
					return _this.showProducts.slice(start, end);
				},
			},

		});
	</script>


}
