@model IEnumerable<FurryFeast.Models.Product>

@{
    ViewData["Title"] = "Index";
}
@section Style{
    <link href="~/css/petclass/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/css/petclass/fonts.min.css" rel="stylesheet" />*@
    <link href="~/css/petclass/style.css" rel="stylesheet" />
    <link href="~fontawesome-iconpicker/css/fontawesome-iconpicker.min.css" />
}
<section class="section section-xxl bg-gray-1">
    <div class="container">
        <h2 class="wow fadeScale">寵物鮮食</h2>
        <!-- Owl Carousel-->
@*        <div class="owl-carousel owl-style-9" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="4" data-margin="30" data-dots="true">     
*@        
        <!--搜尋列-->
        <form class="rd-search form-search" asp-controller="Products" asp-action="Index" method="post">
            <div class="form-wrap">
                <label class="form-label" for="searchForm">搜尋商品 ...</label>
                <input class="form-input" id="searchForm" type="text" name="searchForm" autocomplete="on" value="@ViewBag.Filter">
                <input class="button-search fl-bigmug-line-search74" type="submit" value="Search">
            </div>
        </form>
<div class="row">
            <!-- 商品-->
            @foreach (var item in Model)
			{
      
            <div class="col-4"> 
            <article class="product">
               
                <div class="product-body">
					
						<div class="product-figure">
                       
                        @*<partial name="_ShowPictruePartial" model="@item.ProductPicId"></partial>*@
                        <img src="~/image/product/single-product-1-530x480.jpg" alt="" width="200" height="200" />
                    </div>
                    <h5 class="product-title"><a asp-controller="Products" asp-action="ProductDetail" asp-route-id="@item.ProductId">@item.ProductName</a></h5>
                    <div class="product-price-wrap">
                            <div class="product-price product-price-old">$@item.ProductPrice</div>
                            <div class="product-price">$@item.ProductPrice</div>
                    </div>
			    </div>
                @*<span class="product-badge product-badge-sale">Sale</span>*@
                <div class="product-button-wrap">
                   <div class="product-button"><a asp-controller="Products" asp-action="ProductDetail" asp-route-id="@item.ProductId" class="button button-secondary button-zakaria fl-bigmug-line-search74"></a></div>
                   
                   <div class="product-button"><a class="button button-secondary button-zakaria fl-bigmug-line-shopping202" href="cart-page.html"></a></div>
                </div>			                        
                    
			</article>
           
            </div>
            }
            </div> 
            
        </div>
   
</section>

@section Scripts{
	<script src="~/js/product/core.min.js"></script>
	<script src="~/js/product/script.js"></script>
}
