@model List<FurryFeast.ViewModels.CartViewModel>
@section Style{
    <link href="~/css/petclass/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/css/petclass/fonts.min.css" rel="stylesheet" />*@
    <link href="~/css/petclass/style.css" rel="stylesheet" />
    <style>
        .table-custom th{
            padding:4px 10px;
        }
    </style>
}

<div class="index-header">
    <h2>購物車</h2>
</div>


<div class="container" style="padding-right:100px;padding-left:100px">
        <!-- shopping-cart-->
        <div class="table-custom-responsive">
            <table class="table-custom table-cart">
                <thead>
                    <tr>
                        <th>商品名稱</th>
                        <th>商品價格</th>
                        <th>商品數量</th>
                        <th>小計</th>
                        <th>刪除</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr> @*圖片顯示待補*@
                            <td><a class="table-cart-figure link-img" href="single-product.html">@item.ProductImage</a><a class="table-cart-link" href="single-product.html">@item.ProductName</a></td>
                            <td>$@item.Price</td>
                            <td>
                                <div class="table-cart-stepper">
                                    <input class="form-input" type="number" data-zeros="true" value="@item.Amount" min="1" max="1000">
                                </div>
                            </td>
                            <td>$@((@item.Amount)*(@item.Price))</td>
                            <td>
                                <form name="removeProduct" asp-controller="Cart" asp-action="Remove" asp-route-id="@item.ProductID">
                                <button id="deleteProduct" class="btn btn-dark deleteProduct" type="submit"><i class="bi bi-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
        <div class="group-xl group-justify justify-content-center justify-content-md-between">
            <div>
                <form class="rd-form rd-mailform rd-form-inline rd-form-coupon">
                    <div class="form-wrap">
                        <input class="form-input form-input-inverse" id="coupon-code" type="text" name="text">
                        <label class="form-label" for="coupon-code">請輸入優惠券代碼</label>
                    </div>
                    <div class="form-button">
                        <button class="button button-lg button-primary button-zakaria" type="submit">兌換</button>
                    </div>
                </form>
            </div>
            <div>
                <div class="group-xl group-middle">
                    <div>
                        <div class="group-md group-middle">
                            <div class="heading-5 fw-medium text-gray-500">總計</div>
                        <div class="heading-3 fw-normal">$@ViewBag.Total</div>
                        </div>
                    </div><a class="button button-lg button-primary button-zakaria" href="checkout.html">結帳</a>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
        <script>
        var deleteButton = document.getElementsByClassName('deleteProduct');
        for(var i=0;i<deleteButton.length;i++){
            deleteButton[i].addEventListener('click', function (event) {
                if(!confirm('確定要刪除嗎?')){
                    event.preventDefault();
                }
                else{
                    document.getElementsByClassName('deleteProduct').addEventListener('submit',function(){
                        alert('刪除成功');
                    });
                }
           })      
        }
    </script>
    }