@model IEnumerable<FurryFeast.Models.StockArticle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AarticlesCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticlesIsValid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticlesDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticlesNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticlesPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticlesQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Images)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeasureUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suppliers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouses)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AarticlesCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticlesIsValid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticlesDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticlesNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticlesPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticlesQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Images.ImagesId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeasureUnit.MeasureUnitsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suppliers.SuppliersId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warehouses.WarehousesId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArticlesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArticlesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArticlesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
