@model IEnumerable<FurryFeast.Models.OrderDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div>
                <a asp-action="">個人資料</a>
            </div>
            <div>
                <a asp-action="">我的訂單</a>
            </div>
            <div>
                <a asp-action="">我的課程</a>
            </div>
            <div>
                <a asp-action="">我的優惠券</a>
            </div>
        </div>
        <div class="col-8">
            <div>
                <span>
                    商品名稱:
                </span>
                <input>
                    @foreach (var item in Model)
                    {
                        @Html.DisplayFor(modelItem => item.Product)
                    }
                </input>
            </div>
            <div>
                <span>
                    @Html.DisplayNameFor(model =>model.OrderPrice):
                </span>
                <input>
                    @foreach (var item in Model)
                    {
                        @Html.DisplayFor(modelItem => item.OrderQuantity)
                    }
                </input>
            </div>
           
            <div>

            <div>

        </div>

    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderDetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderDetailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
