@model PetClass

@section Style{
    <link href="~/css/petclass/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/css/petclass/fonts.min.css" rel="stylesheet" />*@
    <link href="~/css/petclass/style.css" rel="stylesheet" />
}

<section class="section section-xl bg-default text-md-left">
    <div class="container">
        <div class="row row-50 row-md-60">
            <div class="col-lg-4 col-xl-3">
                <div class="aside row row-30 row-md-50 justify-content-md-between">
                    <!-- RD Search Form-->
                    <div class="aside-item col-sm-6 col-md-5 col-lg-12">
                        <form class="rd-search form-search" action="search-results.html" method="GET">
                            <div class="form-wrap">
                                <label class="form-label" for="search-form">Search ...</label>
                                <input class="form-input" id="search-form" type="text" name="s" autocomplete="off">
                                <button class="button-search fl-bigmug-line-search74" type="submit"></button>
                            </div>
                        </form>
                        <div></div>
                        <h6 class="aside-title">課程種類</h6>
                        <ul class="list-shop-filter">
                            <li>
                                <label class="checkbox-inline">
                                    <input name="input-group-radio" value="checkbox-1" type="checkbox">全部課程
                                </label><span class="list-shop-filter-number">(18)</span>
                            </li>
                            <li>
                                <label class="checkbox-inline">
                                    <input name="input-group-radio" value="checkbox-2" type="checkbox">寵物訓練課程
                                </label><span class="list-shop-filter-number">(9)</span>
                            </li>
                            <li>
                                <label class="checkbox-inline">
                                    <input name="input-group-radio" value="checkbox-3" type="checkbox">寵物美容課程
                                </label><span class="list-shop-filter-number">(5)</span>
                            </li>
                            <li>
                                <label class="checkbox-inline">
                                    <input name="input-group-radio" value="checkbox-4" type="checkbox">寵物DIY課程
                                </label><span class="list-shop-filter-number">(8)</span>
                            </li>
                        </ul>


                    </div>
                    <div class="aside-item col-sm-6 col-lg-12">
                        <h6 class="aside-title">熱門課程</h6>
                        <div class="row row-10 row-lg-20 gutters-10">
                            <div class="col-4 col-sm-6 col-md-12">
                                <!-- Product Minimal-->
                                <article class="product-minimal">
                                    <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                                        <div class="unit-left"><a class="product-minimal-figure" href="single-product.html"><img src="images/product-mini-1-106x104.jpg" alt="" width="106" height="104" /></a></div>
                                        <div class="unit-body">
                                            <p class="product-minimal-title"><a href="single-product.html">寵物鮮食DIY課程</a></p>
                                            <p class="product-minimal-price">$2500</p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-4 col-sm-6 col-md-12">
                                <!-- Product Minimal-->
                                <article class="product-minimal">
                                    <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                                        <div class="unit-left"><a class="product-minimal-figure" href="single-product.html"><img src="images/product-mini-2-106x104.jpg" alt="" width="106" height="104" /></a></div>
                                        <div class="unit-body">
                                            <p class="product-minimal-title"><a href="single-product.html">寵物餅乾DIY課程 </a></p>
                                            <p class="product-minimal-price">$3000</p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-4 col-sm-6 col-md-12">
                                <!-- Product Minimal-->
                                <article class="product-minimal">
                                    <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                                        <div class="unit-left"><a class="product-minimal-figure" href="single-product.html"><img src="images/product-mini-3-106x104.jpg" alt="" width="106" height="104" /></a></div>
                                        <div class="unit-body">
                                            <p class="product-minimal-title"><a href="single-product.html">寵物肉乾DIY課程</a></p>
                                            <p class="product-minimal-price">$2000</p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xl-9">
                <div class="inset-xl-right-100">
                    <div class="row row-50 row-md-60 row-lg-80">
                        <div class="col-12">
                            <article class="post post-modern box-xxl">
                                <div class="post-modern-panel">
                                    <div><a class="post-modern-tag" href="#">@Model.PetClassType.PetClassTypeName</a></div>
                                    <div>
                                        <h6>@Model.PetClassName</h6>
                                    </div>
                                </div>
                                
                                <div class="post-modern-figure">
									@*<img src="~/image/cat/class.jpg" alt="" width="800" height="394" />*@
                                    <partial name="_ShowPictruePartial" model="@Model" />
                                </div>
                                @*<h3 class="post-modern-title">寵物香噴噴餅乾DIY</h3>*@
                                <article class="quote-classic quote-classic-2">
                                    <div class="quote-classic-text">
                                        <div class="q">為毛孩家長打造的專屬課程，給毛小孩最好的!</div>
                                    </div>
                                </article>
                                <div>
                                    <p class="post-modern-text">@Model.PetClassInformation</p>
                                </div>
                                
                                <div >
                                    <h6 class="aside-title">課程資訊</h6>
                                    <h6>課程日期時間: @Model.PetClassDate</h6>
                                    <h6>授課教師: @Model.Teacher.TeacherName</h6>
                                </div>
                                
                                
                                <a class="button button-sm button-primary button-zakaria" asp-controller="PetClasses" asp-action="PetClassReservation">課程預定</a>
                                
                            </article>
                            <!-- Quote Classic-->
                            
                            
                            <div class="single-post-bottom-panel">
                                <div class="group-sm group-justify">
                                    <div>
                                        <div class="group-sm group-tags"><a class="link-tag" href="#">News</a><a class="link-tag" href="#">Cats</a><a class="link-tag" href="#">Tips</a></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
   
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
