@model FurryFeast.ViewModels.PayReservationViewModel
@section Style{
	<link href="~/css/petclass/bootstrap.min.css" rel="stylesheet" />
	@*<link href="~/css/petclass/fonts.min.css" rel="stylesheet" />*@
	<link href="~/css/petclass/style.css" rel="stylesheet" />

	<style>
		th {
			font-weight: 500;
			text-align: left;
		}

		td {
			text-align: left;
			padding: 10px;
		}

		.memberInfo {
			margin-top: 40px;
		}

		.title {
			margin:20px;
			padding:20px;
		}

		.index-header {
			position: relative;
		}

			.index-header img {
				display: block;
				width: 100%;
				height: auto;
				max-height: 200px;
				object-fit: cover;
			}

			.index-header h2 {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 1;
			}

		.table-custom-responsive{
			border:hidden 2px;
			border-color:darkgrey;
			border-radius:4px;
			margin-top:20px;
			height:contain;
			width:500px;
			box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
		}

		th{
			padding:20px;
		}
	</style>
}

<div class="index-header">
	<img src="~/image/product/breadcrumbs-bg.jpg" />
	<h2>課程預定明細</h2>
</div>

<form method="post" asp-controller="PayMoney" asp-action="SpgatewayPayBill">
	<div class="row">
		<div class="container col-4 memberInfo">
			<!-- shopping-cart-->
			<div class="table-custom-responsive">
				<h4 class="title">付款人資訊</h4>
				<table class="Info">
					
					<tbody>
						<tr>
							<th><strong>付款人姓名:</strong></th>
							<td>@Model.MemberName</td>
						</tr>
						<tr>
							<th><strong>付款人電話:</strong></th>
							<td>@Model.MemberPhone</td>
						</tr>
						<tr>
							<th><strong>付款人信箱:</strong></th>
							<td>@Model.MemberEmail</td>
						</tr>
						<tr>
							<th><strong>付款方式:</strong></th>
							<td>
								@*<select name="payType">
								<option value="CREDIT">信用卡</option>
								<option value="WEBATM">WEBATM</option>
								<option value="VACC">ATM 轉帳</option>
								</select>*@
								<label>
									<input type="checkbox" name="payType" value="CREDIT"> 信用卡
								</label>
								<label>
									<input type="checkbox" name="payType" value="WEBATM"> WEBATM
								</label>
								<label>
									<input type="checkbox" name="payType" value="VACC"> ATM 轉帳
								</label>
							</td>
						</tr>
					</tbody>

				</table>
			</div>
			<div class="col-1">
				<input type="hidden" name="amount" value="@Model.PetClassPrice" />
				<input type="hidden" name="ordernumber" value="@Model.ClassReservetionId" />
				<input type="hidden" name="area" value="petClass" />
				<input type="hidden" name="email" value="@Model.MemberEmail" />
			</div>
			
		</div>
		<div class="container col-4">
			<div>
				<article class="pricing-classic">
				<div class="pricing-classic-header">
					<div class="pricing-colored-figure bg-secondary"></div>
					<div class="pricing-classic-caption">
						<div>
								<h3 class="pricing-classic-title"><strong>@Model.PetClassName</strong></h3>
							<div class="pricing-classic-price-wrap">
								
								<div class="pricing-classic-price heading-4">$@Model.PetClassPrice 元</div>
							</div>
						</div>
					</div>
				</div>
				<div class="pricing-classic-body">
					<ul class="pricing-classic-list">
							<li><span class="title"><strong>課程時間:</strong></span></li>
						<li><span>@Model.PetClassDate</span></li>
							<li><span class="title"><strong>課程地點:</strong></span></li>
						<li><span>台北市中山區寵愛路毛寶街1號</span></li>
						</ul><button class="button button-lg button-primary button-zakaria" type="submit">確定付款</button>
				</div>
				</article>
			</div>
		</div>
	</div>


</form>
