@model FurryFeast.ViewModels.PayReservationViewModel
@section Style{
	<link href="~/css/petclass/bootstrap.min.css" rel="stylesheet" />
	@*<link href="~/css/petclass/fonts.min.css" rel="stylesheet" />*@
	<link href="~/css/petclass/style.css" rel="stylesheet" />

	<style>
		th {
			font-weight: 500;
			text-align: left;
		}

		td {
			text-align: left;
			padding: 10px;
		}

		.memberInfo {
			margin-top: 35px;
		}
	</style>
}

<div class="index-header">
	<h2>課程預定明細</h2>
</div>

<form method="post" asp-controller="PayMoney" asp-action="SpgatewayPayBill">
	<div class="row">
		<div class="container col-4 memberInfo">
			<!-- shopping-cart-->
			<div class="table-custom-responsive">
				<table>
					
					<tbody>
						<tr>
							<th>付款人姓名:</th>
							<td>@Model.MemberName</td>
						</tr>
						<tr>
							<th>付款人電話:</th>
							<td>@Model.MemberPhone</td>
						</tr>
						<tr>
							<th>付款人信箱:</th>
							<td>@Model.MemberEmail</td>
						</tr>
						<tr>
							<th>付款方式:</th>
							<td>
								@*<select name="payType">
								<option value="CREDIT">信用卡</option>
								<option value="WEBATM">WEBATM</option>
								<option value="VACC">ATM 轉帳</option>
								</select>*@
								<label>
									<input type="checkbox" name="payType" value="CREDIT"> 信用卡
								</label>
								<label>
									<input type="checkbox" name="payType" value="WEBATM"> WEBATM
								</label>
								<label>
									<input type="checkbox" name="payType" value="VACC"> ATM 轉帳
								</label>
							</td>
						</tr>
					</tbody>

				</table>
			</div>
			<div class="col-1">
				<input type="hidden" name="amount" value="@Model.PetClassPrice" />
				<input type="hidden" name="ordernumber" value="@Model.ClassReservetionId" />
			</div>
			
		</div>
		<div class="container col-4">
			<div>
				<article class="pricing-classic">
				<div class="pricing-classic-header">
					<div class="pricing-colored-figure bg-secondary"></div>
					<div class="pricing-classic-caption">
						<div>
							<h3 class="pricing-classic-title">@Model.PetClassName</h3>
							<div class="pricing-classic-price-wrap">
								
								<div class="pricing-classic-price heading-4">$@Model.PetClassPrice</div>
							</div>
						</div>
					</div>
				</div>
				<div class="pricing-classic-body">
					<ul class="pricing-classic-list">
						<li><span>課程時間:</span></li>
						<li><span>@Model.PetClassDate</span></li>
						<li><span>課程地點:</span></li>
						<li><span>台北市中山區寵愛路毛寶街1號</span></li>
						</ul><button class="button button-lg button-primary button-zakaria" type="submit">確定付款</button>
				</div>
				</article>
			</div>
		</div>
	</div>


</form>
