@model ClassReservetion
@section Style{
    <link href="~/css/petclass/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/css/petclass/fonts.min.css" rel="stylesheet" />*@
    <link href="~/css/petclass/style.css" rel="stylesheet" />
}

<div class="index-header">
    <h2>課程預定單</h2>
</div>
<section class="section section-xl bg-default">
    <form method="post" class="form-control" asp-controller="PetClasses" asp-action="PetClassAddReservation">
        <div class="container">
            <!-- shopping-cart-->
            <div class="table-custom-responsive">
                <table class="table-custom table-cart">
                    <thead>
                        <tr>
                            <th>課程名稱</th>
                            <th>課程價格</th>
                            <th>課程時間</th>
                            <th>課程地點</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a class="table-cart-link" href="single-product.html">@Model.PetClass.PetClassName</a></td>
                            <td>$@Model.PetClass.PetClassPrice</td>
                            <td name="ClassReservetionDate">@Model.ClassReservetionDate</td>
                            <td>課程地點</td>

                        </tr>

                    </tbody>
                    <thead>
                        <tr>
                            <th>購買人姓名</th>
                            <th>購買人電話</th>
                            <th>購買人信箱</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.MemberId.</td>
                            @*<td>@Model.MemberPhone</td>*@
                            @*<td>@Model.MemberEmail</td>*@
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="group-xl group-justify justify-content-center justify-content-md-between">
                <div>
                    <input type="hidden" name="MemberId" value="@Model.MemberId" />
                    <input type="hidden" name="PetClassId" value="@Model.PetClassId" />

                </div>
                <div>
                    <div class="group-xl group-middle">
                        <div>
                            <div class="group-md group-middle">
                                <div class="heading-5 fw-medium text-gray-500">Total</div>
                                @*<div class="heading-3 fw-normal">$@Model.PetClassPrice</div>*@
                            </div>
                        </div><button class="button button-lg button-primary button-zakaria" type="submit">確定付款</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>