@model FurryFeast.ViewModels.CartOrderViewModel
@section Style{
	<link href="~/css/petclass/bootstrap.min.css" rel="stylesheet" />
	@*<link href="~/css/petclass/fonts.min.css" rel="stylesheet" />*@
	<link href="~/css/petclass/style.css" rel="stylesheet" />
	<style>
		.memberInfo {
			justify-content: center;
		}

		.send {
			width:60%;
		}

		.index-header {
			position: relative;
		}

			.index-header img {
				display: block;
				width: 100%;
				height: auto;
				max-height: 200px;
				object-fit: cover;
			}

			.index-header h2 {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 1;
			}
	</style>
}

<div class="index-header">
	<img src="~/image/product/bg-cta-1.jpg" />
	<h2>訂單資料</h2>

</div>
<div style="height:50px"></div>
<div class="container" style="display:block">
	<form asp-for="order" method="post"  action="AddOrder">
		<div class="row memberInfo">


			<div class="col-md-5 col-lg-5">
				<h4 class="fw-medium">付款人資料</h4>
				<div class="table-custom-responsive form-group">
					<input type="hidden" name="MemberId" value="@Model.Order.MemberId" /> @*夾帶會員ID*@

					<table class="table-custom table-custom-primary table-checkout">
						<tbody>
							<tr>
								<td><span class="fw-medium">付款人姓名</span></td>
								<td><span class="fw-medium">@Model.Member.MemberName</span></td>
							</tr>
							<tr>
								<td><span class="fw-medium">付款人信箱</span></td>
								<td><span class="fw-medium">@Model.Member.MemberEmail</span></td> @*待改*@
							</tr>
							<tr>
								<td><span class="fw-medium">付款人電話</span></td>
								<td><span class="fw-medium">@Model.Member.MemberPhone</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-6 col-lg-6">
				<h4 class="fw-medium">收件人資料</h4>
				<div class="table-custom-responsive form-group">
					<table class="table-custom table-custom-primary table-checkout">
						<tbody>
							<tr>
								<td><span class="fw-medium">收件人姓名</span></td>
								<td><span class="fw-medium"><input name="OrderRecipientName" /></span></td>
							</tr>
							<tr>
								<td><span class="fw-medium">收件人電話</span></td>
								<td><span class="fw-medium"><input name="OrderRecipientPhone" /></span></td> @*待改*@
							</tr>
							<tr>
								<td><span class="fw-medium">收件人地址</span></td>
								<td><span class="fw-medium"><input name="OrderRecipientAdress" /></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
		<div class="row memberInfo">
			<div class="col-md-8 col-lg-8">
				<h4 class="fw-medium">訂單內容</h4>
				<div class="table-custom-responsive">
					<table class="table-custom table-custom-primary table-checkout form-group">
						<tbody>
							<tr>
								<td><span class="fw-medium">商品名稱</span></td>
								<td><span class="fw-medium">商品價格</span></td>
								<td><span class="fw-medium">商品數量</span></td>
								<td><span class="fw-medium">小計</span></td>
							</tr>
							@foreach (var item in (List<FurryFeast.ViewModels.CartItem>)ViewBag.CartItem)
							{
								<tr>
									<td><span class="fw-medium">@item.ProductName</span></td>
									<td><span class="fw-medium">@item.OrderPrice</span></td>
									<td><span class="fw-medium">@item.OrderQuantity</span></td>
									<td><span class="fw-medium">@(item.OrderPrice * item.OrderQuantity)</span></td>
								</tr>
							}

						</tbody>
					</table>

				</div>
			</div>
			<div class="col-md-3 col-lg-3 d-flex flex-column">
				<div class="mt-auto">
					<div class="row send">
						<h4>總計: @Model.Order.OrderTotalPrice</h4>
					</div>
					<div class="row send">
						<input type="hidden" name="OrderTotalPrice" value="@Model.Order.OrderTotalPrice" />
						<button class="button button-sm button-primary button-zakaria" type="submit">送出訂單</button>
					</div>
				</div>
			</div>
		</div>


	</form>
</div>