@model FurryFeast.Models.Order
@section Style{
	<link href="~/css/petclass/bootstrap.min.css" rel="stylesheet" />
	@*<link href="~/css/petclass/fonts.min.css" rel="stylesheet" />*@
	<link href="~/css/petclass/style.css" rel="stylesheet" />
	<style>
		.memberInfo {
			justify-content: center;
		}

		.pay-way {
			height: 100px;
			justify-content: left;
			text-align:left;
		}

		.index-header {
			position: relative;
		}

			.index-header img {
				display: block;
				width: 100%;
				height: auto;
				max-height: 200px;
				object-fit: cover;
			}

			.index-header h2 {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 1;
			}
	</style>
}


<div class="index-header">
	<img src="~/image/product/bg-cta-1.jpg" />
	<h2>訂單明細</h2>

</div>
<div style="height:50px"></div>
<div class="container" style="display:block">
	<form method="post" asp-controller="PayMoney" asp-action="SpgatewayPayBill">
		<div class="row">
			<div class="col-md-6 col-lg-6 memberInfo">
				<h4 class="fw-medium">訂單內容</h4>
				<div class="table-custom-responsive">
					<table class="table-custom table-custom-primary table-checkout form-group">
						<tbody>
							<tr>
								<td><span class="fw-medium">商品名稱</span></td>
								<td><span class="fw-medium">商品價格</span></td>
								<td><span class="fw-medium">商品數量</span></td>
								<td><span class="fw-medium">小計</span></td>
							</tr>
							@foreach (var item in (List<FurryFeast.ViewModels.CartItem>)ViewBag.CartItems)
							{
								<tr>
									<td><span class="fw-medium">@item.ProductName</span></td>
									<td><span class="fw-medium">@item.OrderPrice</span></td>
									<td><span class="fw-medium">@item.OrderQuantity</span></td>
									<td><span class="fw-medium">@item.Subtotal</span></td>
								</tr>
							}
							<tr>
								<td><span class="fw-medium">總計: @ViewBag.Total</span></td>
							</tr>
						</tbody>
					</table>
					@*<h4 name="OrderTotalPrice">總計:@ViewBag.Total</h4>*@
					<input type="hidden" name="amount" value="@ViewBag.Total" />
					<input type="hidden" name="ordernumber" value="@Model.OrderId" />
					<input type="hidden" name="area" value="petMarket" />
					<input type="hidden" name="email" value="@Model.Member.MemberEmail" />
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-md-6 col-lg-6">
				<h4 class="fw-medium">收件人資料</h4>
				<div class="table-custom-responsive form-group">
					<table class="table-custom table-custom-primary table-checkout">
						<tbody>
							<tr>
								<td><span class="fw-medium">收件人姓名</span></td>
								<td><span class="fw-medium">@Model.OrderRecipientName</span></td>
							</tr>
							<tr>
								<td><span class="fw-medium">收件人電話</span></td>
								<td><span class="fw-medium">@Model.OrderRecipientPhone</span></td> @*待改*@
							</tr>
							<tr>
								<td><span class="fw-medium">付款人地址</span></td>
								<td><span class="fw-medium">@Model.OrderRecipientAdress</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-6 col-lg-6">
				@*<div class="row">*@
				<div class="pay-way">
				</div>
				@*</div>
				<div class="row">*@
				<div class="pay-way">
					<div>
						<h4>付款方式: 
						<select name="payType">
							<option value="CREDIT">信用卡</option>
							<option value="WEBATM">WEBATM</option>
							<option value="VACC">ATM 轉帳</option>
						</select>
						</h4>
					</div>
					<div>					
					@if (@Model.OrderStatus == 0)
					{
						<h4>付款狀態: 未付款</h4>
					}
					else
					{
						<h4>付款狀態: 已付款</h4>
					}
					<button type="submit" class="button button-sm button-primary button-zakaria">立即付款</button>
					</div>
				</div>
				@*</div>*@
			</div>
		</div>



	</form>
</div>