@model FurryFeast.Models.StockWarehouse

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StockWarehouse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehousesCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehousesCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehousesDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehousesDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehousesStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehousesStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehousesZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehousesZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehousesCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehousesCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehousesCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehousesCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehousesNation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehousesNation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehouseGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehouseGroup.WarehouseGroupsId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="WarehousesId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
