@model FurryFeast.Models.StockWarehouse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StockWarehouse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehousesCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehousesCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehousesDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehousesDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehousesStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehousesStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehousesZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehousesZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehousesCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehousesCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehousesCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehousesCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehousesNation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehousesNation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehouseGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehouseGroup.WarehouseGroupsId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.WarehousesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
