@model IEnumerable<FurryFeast.Models.StockWarehouse>

@{
    ViewData["Title"] = "Index";
}

<h1>StockWarehouses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WarehousesCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehousesDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehousesStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehousesZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehousesCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehousesCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehousesNation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseGroup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WarehousesCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehousesDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehousesStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehousesZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehousesCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehousesCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehousesNation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseGroup.WarehouseGroupsId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WarehousesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WarehousesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WarehousesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
