@model FurryFeast.Models.StockSupplier

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StockSupplier</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuppliersCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuppliersCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuppliersDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuppliersDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuppliersStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuppliersStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuppliersZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuppliersZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuppliersCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuppliersCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuppliersCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuppliersCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuppliersNation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuppliersNation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuppliersPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuppliersPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuppliersFax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuppliersFax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuppliersEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuppliersEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuppliersUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuppliersUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierGroup.SuppliersGroupsId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SuppliersId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
