@model FurryFeast.Models.Member

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberBirthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberBirthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberAdress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberAdress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberPassord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberPassord)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conpon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conpon.ConponId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MemberId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
