@model IEnumerable<FurryFeast.Models.StockGroup>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupsCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GgroupsDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupsNotes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupsCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GgroupsDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupsNotes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GroupsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
