@model FurryFeast.Models.StockImage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StockImage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagesCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagesCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagesDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagesDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagesFileCrc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagesFileCrc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagesBitmapFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagesBitmapFile)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ImagesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
