@model IEnumerable<FurryFeast.Models.StockImage>

@{
    ViewData["Title"] = "Index";
}

<h1>StockImages</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImagesCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagesDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagesFileCrc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagesBitmapFile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImagesCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagesDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagesFileCrc)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.ImagesBitmapFile)*@
                    <img src="@Url.Action("GetPicuture", "StockImages", new {id = item.ImagesId})" style="width:320px;height:240px" title="@item.ImagesDescription" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ImagesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ImagesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ImagesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
