@model IEnumerable<FurryFeast.Models.StockMeasureUnit>

@{
    ViewData["Title"] = "Index";
}

<h1>StockMeasureUnits</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeasureUnitsCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeasureUnitsDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeasureUnitsCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeasureUnitsDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MeasureUnitsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MeasureUnitsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MeasureUnitsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
