@model IEnumerable<FurryFeast.Models.StockSupplier>

@{
    ViewData["Title"] = "Index";
}

<h1>StockSuppliers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SuppliersCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuppliersDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuppliersStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuppliersZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuppliersCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuppliersCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuppliersNation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuppliersPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuppliersFax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuppliersEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuppliersUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierGroup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SuppliersCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuppliersDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuppliersStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuppliersZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuppliersCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuppliersCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuppliersNation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuppliersPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuppliersFax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuppliersEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuppliersUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierGroup.SuppliersGroupsId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SuppliersId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SuppliersId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SuppliersId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
